@use '../globals/variables' as *;

.projects {
    & .title {
        text-align: center;
        margin-bottom: 2rem;
    }

    & .projects__gallery {
        @include flex-column;
        gap: 3rem;
    }
}