@use '../globals/variables' as *;

.projects-section {
    & .title {
        margin-bottom: 2rem;
    }

    & .projects__gallery {
        @include flex-column;
        gap: 3rem;
    }
}

.project-card {
  display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    background-color: $clr-gray;
    border-radius: 1.25rem;
    box-shadow:  0 0.9rem 1.5rem -1rem  $clr-gray-dark;
    .title {

    }
}