@use '../globals/variables' as *;

.footer-page {
    width: 100%;
    height: auto;
    color: $clr-white;

    background-color: $clr-black;

    .container {
        width: min(100%, $break-lg);
        padding: 2rem 1.5rem;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        }
    }

    // LOGO / BRAND
    .brand {
        font-weight: 700;
        display: flex;
        gap:1rem;
        align-items: center;

        img {
            width: 48px;
        }
    }

    // NAV
    .footer-nav {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;

        a {
        color: var(--on-surface-variant);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            text-underline-offset: 4px;
        }
        }
    }

    // COPYRIGHT
    .copyright {
        font-size: 0.75rem;
        text-align: center;
    }
}
