@use '../globals/variables' as *;
@use "sass:color";

.hero {

    background-color: $clr-black;
    color: $clr-white;
    text-align: start;

    @media (min-width: $break-sm) {
        text-align: center;
    }
    @media (min-width: $break-md) {
        text-align: start;
    }

    .hero-wrapper {
        width: min(100%, $break-lg);
        margin-inline: auto;
        padding-inline: $inline-padding-mobile;
        padding-block: 3rem;


        @media (min-width:$break-sm) {
            padding-inline: $inline-padding-tablet;
        }

    }


}

.hero-content {
    @include flex-column;
    flex-grow: 1;
    height: $min-height;
    justify-content: end;
    gap: 1rem;

    @media (min-width: $break-md) {
        max-width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    & .hero-texts {
        @include flex-column;
        gap: 1.2rem;
        @media (min-width: $break-md) {
            width: min(50%, 37.5rem);
            gap: 3rem;
        }

        & .title-page {
            font-size: 1.5rem;
            font-weight: $fw-700;
            line-height: 1.25;
            @media (min-width:$break-md) {
                font-size: 2rem;
            }
            @media (min-width:$break-lg) {
                font-size: 3rem;
            }

            & .my-name {
                display: none;
                font-size: 1.25rem;
                color: $clr-gray;
                @media (min-width:$break-smaller) {
                    display: inline;
                }
                @media (min-width:$break-md) {
                    font-size: 1.5rem;
                }
                @media (min-width:$break-lg) {
                    font-size: 2rem;
                }
            }
        }

        & .claim {
            color: $clr-gray;
            width: 100%;
            @media (min-width: $break-md) {
                width: 90%;
            }
        }

        .call-to-action{
            display: flex;
            justify-content: center;
            gap: 1rem;
            font-size: $fs-xs;
            @media (min-width: $break-smaller) {font-size:inherit;}
            @media (min-width: $break-md) {justify-content: start;}
        }
    }

    & .hero-image {
        width: min(75%,14rem);
        margin-inline: auto;
        border-radius: 50%;
        box-shadow: -0.5rem 0.5rem 0 white;
        @media (min-width: $break-md) {
            flex-grow: 0;
            width: min(35%, 26rem);
            margin-inline:0;
        }
    }
}
