@use '../globals/variables' as *;

@keyframes from-none-slide-left {
    from {
        display: flex;
        left: 100%;
    }
    to {
        left:0;
    }
}

.navbar-mobile {
    display: none;
    position: fixed;
    background-color: $clr-black;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 10;

    color: $clr-white;
    text-align: center;
    font-size: 2rem;
    gap:1rem;

    &.isOpen {
        @include flex-column;
        justify-content: center;
        animation: from-none-slide-left forwards 200ms;
        @media (min-width:$break-md) {
            display: none;
        }
    }

    & .nav-item {
        position: relative;
    }

    .mobile-lenguage-selector {
        margin-block: 1rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-size: $fs-p-desktop;
        gap: 1rem;

        & button {
            display: flex;
            padding: 0.25rem 1rem 0.25rem 0.5rem;
            border-radius: 1rem 1rem 1rem 0.5rem;

            gap: 0.5rem;
            align-items: center;
            border: solid 1.5px $clr-primary;
            background-color: transparent;
            transition: background-color 0.2s;
            
            &:hover {
                background-color: rgba(255,255,255, .2);
            }

            &.current {
                border: solid 1.5px $clr-white;
            }

            & svg {
                width: 2rem;
                height: 2rem;
            }

            
        }
    }
}







