@use '../globals/variables' as *;

$gap: 2rem;

.navbar-desktop-wrapper {
    display: none;

    @media (min-width:$break-md) {
        display: flex;
        flex-direction: column-reverse;
        align-items: end;
        gap: 1rem;
    }

    @media (min-width:$break-lg) {
        @include flex-row-between;
        flex-grow: 1;

    }

    & .navbar-desktop-list {
        display: flex;
        justify-content: end;
        gap: $gap;
        @media (min-width:$break-lg) {
            @include flex-row-between;
        }
    }
    & .submenu-button-section {
        @include flex-row-between;
        gap: $gap;
        color: $clr-gray;
        font-size: $fs-xs;

        & a {
            gap: 0.5rem;
        }

        .svg-container {
            display: grid;
            place-content: center;
            position: relative;
            aspect-ratio: 1;

            .count {
                position: absolute;
                bottom: -0.15rem;
                right: -0.8rem;
                display: grid;
                place-content: center;
                width: 1.25rem;
                font-size: $fs-xs;
                border-radius: 100%;
                aspect-ratio: 1;
                color: $clr-black;
                background-color: $clr-white;
            }
            svg {
                width: 24px;
                height: 24px;
            }
        }

    }
}

