@use '../globals/variables' as *;

.projects {
  .projects-header {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-bottom: 3rem;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
    .link {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @media (min-width: 1024px) {
      grid-template-columns: repeat(12, 1fr);
    }

    .project-main {
      @media (min-width: 1024px) {
        min-height: 450px;;
        grid-column: span 8;
      }
    }

    .projects-side {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      @media (min-width: 1024px) {
        grid-column: span 4;
      }
    }
  }
}
