@use '../globals/variables' as *;

$break-lg-local-v: 65rem;

.project-card-grid {
    $rounded: 0.25rem;
    display: grid;
    gap: 1.25rem;

    @media (min-width:$break-md) {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 1fr 1fr 2rem 1fr 1fr 1fr;

        /** grid of 5 x 7 **/
        grid-template-areas: 
            "img img img sum sum"
            "img img img sum sum"
            "img img img sum sum"
            "pro pro . . ."
            "pro pro vid vid vid"
            "pro pro vid vid vid"
            "pro pro vid vid vid";
    }

    @media (min-width: $break-lg-local-v) {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }

    & .project__title--mobile {
        display: block;
        font-size: 1.5rem;
        font-weight: 600;
        @media (min-width:$break-md) {
            display: none;
        }
    }

    & .project__title--desktop {
        display: none;
        @media (min-width:$break-md) {display: block;}      
    }

    &__image {
        border-radius: $rounded;
        object-fit: cover;
        width: 100%;
        overflow: hidden;        

        aspect-ratio: 1/1;
        @media (min-width:$break-sm) {
            aspect-ratio: 16/9;
        }
        @media (min-width:$break-md) {
            grid-area: img;
        }
        @media (min-width: $break-lg-local-v) {
            grid-area: auto;
            grid-column: 1 / span 6; ;
            grid-row: 1 / span 6;
        }
    }
    &__summary-section {
        @include flex-column;
        gap: 1rem;

        

        & .summary {
            @include flex-column;
            gap: 1rem;
        }
        @media (min-width:$break-md) {
            grid-area: sum;
            padding-bottom: 2rem;
            padding-left: 1rem;
        }
        @media (min-width: $break-lg-local-v) {
            grid-area: auto;
            grid-column: 7 / span 6; ;
            grid-row:  1 / span 5;
        }
    }
    &__video {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: $rounded;
        display: grid;
        @media (min-width:$break-sm) {
            aspect-ratio: 16/9;
        }
        @media (min-width:$break-md) {
            grid-area: vid;
        }
        @media (min-width: $break-lg-local-v) {
            grid-area: auto;
            grid-column: 6 / span 7; ;
            grid-row:  6 / span 7;
        }
    }

    &__procces-section {
        @include flex-column;
        gap: 1rem;
        @media (min-width:$break-md) {
            grid-area: pro;
            padding-right: 1rem;
        }
        @media (min-width: $break-lg-local-v) {
            grid-area: auto;
            grid-column: 1 / span 5;
            grid-row:  7 / span 6;
        }

        & .procces,
        & .tech-stack {
            @include flex-column;
            gap: 1rem;
            height: auto;
        }

        & .tech-svgs {
            align-items: center;
            display: flex;
            gap: 1rem;
        }
    }
}