@use '../globals/variables' as *;
.skills {
  background-color: $clr-gray;


  .skills-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-top: 2rem;

    @media (min-width: 640px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

// SKILL CARD
.skill-card {
    transition: all 0.3s ease;
    @extend .card;
    padding: 2rem;

    &:hover {
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    }

    .icon-box {
      width: 4rem;
      height: 4rem;
      background-color: $clr-gray;
      border-radius: 0.75rem;

      display: flex;
      align-items: center;
      justify-content: center;

      margin-bottom: 1.5rem;
      transition: transform 0.3s ease;

      svg {
        object-fit: contain;
        width: 2.5rem;
        height: 2.5rem;
      }
    }

    &:hover .icon-box {
      transform: scale(1.1);
    }

    h3 {
      color: $clr-secondary;
      margin-bottom: 0.5rem;
    }

  }
