@use '../globals/variables' as *;

.testimonial-card {
    @include flex-column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 25rem;

    &__client-image {
        object-fit: cover;
        $size: 6.25rem;
        width: $size;
        height: $size;
        border-radius: 50%;

        border: $clr-primary 2px solid;
    }

    &__message {text-align: center;}
}